/* ================================= 
  Base Element Styles
==================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-size:  cover;
}


/* ---- Warapper Container ---- */


div.wrapper {
  min-height: calc(100vh - 64px);
/*   min-height: auto; */
  /* Negative indent footer by its height */
  margin: 0px auto 0px;
  /* Pad bottom by footer height */
  padding: 0 0px 0px;
  width: 100%;
/*   border: 5px solid #E18728; */
}


 /* ================================= 
  Company index.html
==================================== */


.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #000;
}

.company-title {
  text:  #000;
}

/* ================================= 
	Form html
==================================== */

.well {
	background-color: #428bca;
	border:  solid 1px #000;
	border-radius: 4px;
}
